<section class="phx-hero">
  <h1>Football League of Champions</h1>
  <p>Coming soon...</p>
</section>


<div class="homepage-body">
  <img class="trophy-image" src="https://i.gifer.com/Xtef.gif" />

  <div>
    <%= @quote.text %>
  </div>
  - <%= @quote.author%>
</div>
